Django==1.10.2
asgiref==1.1.0
asgi-redis==1.0.0
channels==1.0.3
daphne==1.0.2
Psycopg2==2.6.2
coverage==4.4.2
django-nose==1.4.4
passlib==1.7.1
bcrypt==3.1.2
sphinx==1.5.2
celery==4.0.2
django-celery-beat==1.0.1
google-api-python-client==1.6.2
websocket-client==0.40.0
fcm_django==0.2.13