<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/DataTables/datatables.min.css" />
        <link rel="stylesheet" href="/static/global.css" />

        <script src="/static/jquery-3.1.1.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/npm.js"></script>
        <script src="/static/DataTables/datatables.min.js"></script>
		<script src="/static/global.js"></script>
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>